.initial-page {
  width: 100%;
  height: 100vh;
  padding: 72px 57px 0 57px;
  background-color: #fff;

  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
}

.animation {
  transition: all 0.3s ease;
}

.initial-page img {
  height: 92px;
  width: 130px;
}

.initial-page main {
  height: 100%;
  min-width: 360px;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial-page section {
  max-width: 450px;
  width: 100%;
  margin-top: 94px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial-page section input {
  height: 54px;
  max-width: 261px;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.initial-page section input::-webkit-input-placeholder {
  text-align: center;
  color: #aeaeae;
}

.initial-page section input:-moz-placeholder {
  text-align: center;
  color: #aeaeae;
}

.initial-page .input-name {
  font-family: "Roboto", sans-serif;
}

.btn {
  width: 109px;
  height: 45px;
  background-color: #e7e7e7;
  margin-top: 15px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #696969;

  border: none;
  outline: none;
  border-radius: 9px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #d69b31;
  color: white;
}

.initial-page section.hidden,
.loading.hidden {
  display: none;
}

.initial-page.hidden {
  transform: translateY(-100%);
}

.loading {
  max-width: 360px;
  width: 100%;
  height: max-content;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading img {
  width: 100%;
  height: 100%;
}

.loading p {
  font-size: 18px;
  font-weight: 500;

  position: absolute;
  bottom: 40px;
  left: 40%;
}

.alert-message {
  font-size: 16px;
  margin: 20px 0;
  max-width: 70%;
  text-align: center;
}
