.background.hidden {
  opacity: 0;
}

.background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;

  opacity: 1;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  bottom: 0;

  cursor: pointer;
}

.sidebar {
  max-width: 259px;
  width: 100%;
  background-color: #fff;
  padding: 0 17px 17px 17px;

  position: fixed;
  z-index: 15;
  top: 0;
  right: -100%;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;

  transition: all 0.3s ease;
}

.sidebar.show {
  right: 0;
}

.sidebar header {
  height: 84px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: initial;
  box-shadow: none;
}

.sidebar header p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.users {
  width: 100%;
  max-height: 60%;
  height: max-content;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.users .user .info {
  flex: 1;
  overflow: hidden;
}

.users .user .info p {
  text-overflow: ellipsis;
}

.users div {
  display: flex;
  align-items: center;
  font-size: 22px;
  text-overflow: clip;

  margin-top: 12px;
}

.users div:first-child {
  margin-top: 0;
}

.user ion-icon {
  font-size: 22px;
  margin-right: 7px;
}

.users p {
  flex: 1;
  height: initial;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}

.users .user {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.users .user div:last-child {
  margin: 0;
}

.user div.hidden {
  display: none;
}

.message-type .options {
  display: flex;
  flex-direction: column;
}

.message-type .option-1,
.message-type .option-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.message-type .option-1 p,
.message-type .option-2 p {
  margin-left: 7px;
}

.message-type .option-1 div:first-child,
.message-type .option-2 div:first-child {
  display: flex;
  align-items: center;
}

.message-type .option-2 {
  margin-top: 12px;
}

.message-type ion-icon {
  font-size: 22px;
}
